[submodule "tls-attack/mbedtls"]
    path = tls-attack/mbedtls
    url = https://github.com/Mbed-TLS/mbedtls.git
    ignore = dirty
[submodule "mbedtls-server/mbedtls"]
    path = mbedtls-server/mbedtls
    url = https://github.com/Mbed-TLS/mbedtls.git
    ignore = dirty
[submodule "mbedtls-client/mbedtls"]
    path = mbedtls-client/mbedtls
    url = https://github.com/Mbed-TLS/mbedtls.git
    ignore = dirty
