[submodule "dualec-cpp/mbedtls"]
	path = dualec-cpp/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
    ignore = dirty
[submodule "dualec-cpp/mbedtls"]
	path = mbedtls-client/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
    ignore = dirty
[submodule "mbedtls-server/mbedtls"]
	path = mbedtls-server/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
